# flyctl launch added from .gitignore
**/__pycache__
.git/
share/
dist/
**/*.pyc
**/download_*
**/real_archive/*.mp4
**/real_archive/.ott/objects

# flyctl launch added from .ruff_cache/.gitignore
# Automatically created by ruff.
.ruff_cache/**/*
fly.toml
