.env*
.idea/
build/
dist/
share/
download_*
downloads/
weed.egg-info/
real_archive/
*.egg-info/
*.pyc
*.mkv
*.webm
*.mp3
__pycache__/
relay_events.jsonl
real_archive/*.mp4
real_archive/.ott/objects/
.ruff_cache/
